.titleWrap {
    color: white !important;
    padding-top: 6vh;
    user-select: none;
    margin-bottom: 1%;
    min-height: 500px;
}

.titleName {
    font-family: 'Pinyon', sans-serif !important;
    font-size: 5em;
    text-shadow: .5rem .5rem .5rem black;
}

.titleDesc {
    text-shadow: .5rem .5rem .5rem black;
}