.App {
    text-align: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
}

.gradient {
    background: linear-gradient(-90deg, transparent, black, black, transparent);
    background-size: 500% 500%;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    z-index: 2
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

html {
    height: 100%;
}

body {
    // background: #222222;
    box-shadow: inset 0 0 400px #111111;
    height: auto;
    max-width: 100vw;
    // overflow: hidden;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

.rain {
    background: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    height: 50px;
    position: absolute;
    width: 1px;
    opacity: .02;
    z-index: 0;
}

$rain: 150;
@for $i from 1 through $rain {
    $top: (random(35) + 35) * 1%;
    $left: random(100) * 1%;
    $opacity: (random(30) + 30) * 0.01;
    $delay: random(20) - 1s;
    .rain:nth-of-type(#{$i}) {
        animation-name: rain-#{$i};
        animation-delay: $delay;
        animation-duration: random(6) + 4s;
        animation-iteration-count: infinite;
        left: $left;
        opacity: $opacity;
        top: -$top;
    }
    @keyframes rain-#{$i} {
        0% {
            left: $left;
            opacity: $opacity;
            top: -$top;
        }
        100% {
            opacity: 0;
            top: $top + 20%;
        }
    }
}

.test {
    width: 100vw;
    // height: 90vh;
    color: #fff;
    background: linear-gradient(-45deg, rgba(238, 119, 82, .2), rgba(231, 60, 125, .2), rgba(35, 166, 213, .2), rgba(35, 213, 171, .2));
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

.paused {
    -webkit-animation-play-state: paused;
    /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.figure-img {
    border-radius: 10px;
}

.figure {
    margin: 2%;
    z-index: 100;
    filter: drop-shadow(3px 3px 10px black);
    cursor: pointer;
}

.authButtons:hover {
    transform: scale(1.1);
    opacity: 1;
    transition-duration: .5s;
    background-color: lightgrey;
    color: black;
    filter: drop-shadow(7px 7px 17px black);
}

.authfield1 {
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    outline: none !important;
}

.authfield1:-webkit-autofill,
.authfield1:-webkit-autofill:hover,
.authfield1:-webkit-autofill:focus,
.authfield1:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: white;
    -webkit-text-fill-color: white !important;
}

.line {
    margin-bottom: 10%;
    margin-top: 0 !important;
}

.authfield2 {
    background-color: transparent !important;
    color: white !important;
    border: none !important;
    border-bottom: 1px solid white !important;
    text-align: center !important;
    outline: none !important;
}

.authButtons {
    padding: 2%;
    margin-bottom: 5%;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    opacity: .7;
    filter: drop-shadow(5px 5px 5px black);
    outline: 'none';
    user-select: none;
    margin-top: 5%;
    font-size: 1rem;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    border-radius: '10px';
    position: absolute;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: '50px';
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
    height: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
    color: 'pink';
}

 ::-webkit-scrollbar-track-piece {
    background: transparent;
}