body {
    margin: 0;
    font-family: 'Catamaran', sans-serif !important;
    height: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: 'white' !important
}

@font-face {
    font-family: 'Catamaran';
    src: local('Catamaran'), url(./Assets/Fonts/Catamaran/Catamaran.ttf) format('opentype');
}

@font-face {
    font-family: 'Pinyon';
    src: local('Pinyon'), url(./Assets/Fonts/Pinyon/Pinyon.ttf) format('opentype');
}