.nav-link {
    color: white !important;
    opacity: .5;
}

.nav-link:hover {
    color: white !important;
    opacity: 1;
}

.navbar-brand {
    color: white !important;
}

#navButton {
    display: 'flex' !important;
    flex-direction: 'column' !important;
    align-items: center !important;
}